body{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.title{
  transition: 0.1s;
}

.title:hover{
  scale: 1.05;
  color: yellow;
  cursor: pointer;
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  border: 0.5px solid #000;
  box-shadow: 24;
  display: flex;
  flex-direction: column;
  background-color: #F1EEE9;
  padding: 3rem;
  border-radius: 24px;
  max-height: 80vh;
  overflow: auto;
  margin: 2rem;
  padding: 2rem;
}


.singlecard{
  width: 300px;
  height: 250px;
  margin: 1rem 0;
  padding: 0.5rem;
  overflow: auto;
}

.content{
  width: 280px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .box{
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
  }
  h1{
    font-size: 30px;
    margin: 2px 5px;

  }
  .singlecard{
    width: 180px;
    height: 150px;
    padding: 0;
  }

  .content{
    height: 90px;
    margin: 0;
    padding: 0;
  }
}